//COLORS
$primary-color: white;
$black-color: black;
$text-color: #777;

//FONT type
$header-font: 'PT Serif',
serif;
$body-font: 'Open Sans',
sans-serif;
$line-height: 1.8;
//FONT size
$default-font-size: 20px;
$hover-font: 30px;