@import "./colors.scss";

/*GENERAL*/
* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: $primary-color;
}

p,
.technologies2 li {
    font-family: $body-font;
    font-size: 21px;
    line-height: 1.8;
    color: #999;
}

.logo {
    max-width: 100px;
}

.navbar {
    font-weight: bold;
}

.nav-item {
    margin: 20px;
}

/*HOME STYLES*/
//this needs to go before in order for the background to work that way
.bg-keyboard {
    background: linear-gradient(rgba(70, 82, 214, 0.3), rgba(14, 20, 83, 0.5)), url('../images/keyboard.jpeg');
}

.cover,
.contact-me-section {
    height: 100vh;
    width: 100vw;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

//girl standing SVG
.standing {
    width: 200px;
    float: right;
    margin-top: -10%;
    margin-right: 2%;
}

/*ABOUT ME MAYLEN SECTION*/
.about-me-section .maylen_picture {
    text-align: center;
}

.about-me-section .row {
    max-width: 45em;
    margin: 0 auto;
    width: 100%;
}

.maylen_picture,
.maylen_description h2 {
    padding: 80px 0 50px;
}

.maylen_picture img {
    width: 618px;
}

.full-description {
    position: relative;
    transform: translate(0px, -50%);
    top: 50%;
    width: 60vw;
    margin: 0 auto 0;
    z-index: 1;
}

//inherits and overrides
.contact {
    @extend .full-description;
    transform: translate(0px, 50%);
}

/*first banner*/
.intro-name,
.name {
    margin-top: 5vw;
    font-size: 6.5vw;
    font-family: $header-font;
    font-weight: 700;
}

.intro-description,
.description {
    font-size: 1.5rem;
    padding: 1.5vh 0 0;
}

.intro-name,
.intro-description {
    color: $heading-color;
}

/*second banner*/
.name,
.description {
    color: $primary-color;
}

.buttons {
    padding: 7vh 0 0;
}

a.btn {
    font-size: 1.3vw;
    width: 15vw;
    padding: 0.9vw 0;
    display: inline-block;
    font-weight: 700;
    background: #99a3e8;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #fff;
    text-decoration: none;
    margin: 0 4px;

    &.contact-btn {
        background: white;
        color: #99a3e8;
    }

    &.contact-btn i {
        margin: 5px;
    }
}

.cover-section ul,
.contact-me-section ul {
    display: inline-block;
    position: relative;
    overflow: hidden;
    list-style: none;
    text-align: center;
    padding: 6.5vh 0 0;
    margin: 0;
}

.cover-section ul li,
.contact-me-section ul li {
    display: inline-block;
    list-style: none;
    padding: 0;
}

.cover-section ul li a,
.contact-me-section ul li a {
    padding: 2vw 2.5vw;
    display: inline-block;
    vertical-align: middle;
    box-shadow: 0 0 1px transparent;
    transform: perspective(1px) translateZ(0);
}

.cover-section ul li a i {
    color: black;
}

.contact-me-section ul li a i {
    color: white;
}

.current {
    border-bottom: 2px solid #fff;
}

/*PORTFOLIO SECTION*/
.content {
    max-width: 900px;
}

.about-section {
    width: 100%;
}

.intro {
    margin-top: 100px;
    margin-bottom: 100px;
}

// $chartColors: #56c7fa,
// #f76540,
// #ffcb05,
// #62cd9f,
// #b67baa;

// @for $i from 1 through length($chartColors) {
//     $chartColors: append($chartColors, darken(nth($chartColors, $i), 25));
// }

// $chartColorsLength: length($chartColors);
//NEW USED
.project {
    margin-bottom: 100px;
    width: 40%;

    .image {
        height: 540px;
        width: 100%;
        padding: 30px;
        background-color: #eee;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        min-height: 500px;

        // &.m {
        //     background-color: red;

        //     &:nth-of-type(odd) {
        //         background-color: green;
        //     }
        // }

        // @for $i from 1 through $chartColorsLength {
        //     //     &:nth-of-type(#{$chartColorsLength}n+#{$i}) {
        //     //         background-color: nth($chartColors, $i);

        //     //         &:before {
        //     //             content: '#{nth($chartColors, $i)}'
        //     //         }
        //     //     }
        //     // }

        &img {
            transition: filter 0.3s ease;
        }


    }

}

.project .image.m {
    background-color: #ffd3dd;
}

.project .image.c {
    background-color: #fff9c7;
}

.project .image.r {
    background-color: #d4eedb;
}

.project .image.i {
    background-color: #ffcec7;
}

.project .image.p {
    background-color: #e3eeff;
}

.project .image.h {
    background-color: #F4F5FC;
}

.project .image .hover {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    border-radius: 8px;
    font-weight: 700;
    opacity: 0;
    transition: opacity 0.2s ease;

    &:hover {
        opacity: 1;
    }
}

.project .image:hover {
    overflow: hidden;

    img {
        filter: blur(30px);
    }
}

.details {
    .title {
        font-size: 30px;
        font-weight: 500;
        margin: 40px 0 30px;
    }

    .description {
        font-size: 20px;
        color: #777;
        line-height: 34px;
    }
}

.project-container-heading {
    height: 500px;
    width: 100vw;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.project-detail-description {
    position: relative;
    transform: translate(0px, -50%);
    top: 60%;
    width: 60vw;
    margin-left: 100px;
    z-index: 1;

    h1 {
        font-family: $header-font;
        font-weight: 800;
    }
}

.visit-project {
    width: 100%;
    color: #1c1e24;
    display: block;
    margin-top: 25px;
    text-decoration: underline;
    z-index: 50;
    position: relative;
    background: url('../images/right-arrow.svg') no-repeat right center;
    background-size: 72px 26px;
}

.project-container-description .row {
    margin-left: 100px;
}

.brief2 h4,
.result2 h4,
.technologies2 h4 {
    font-family: $header-font;
    font-weight: 800;
    margin-bottom: 50px;
}

.brief2 p,
.result2 p,
.technologies2 p,
.technologies2 li {
    margin-bottom: 25px;
    font-size: 15px;
    margin-right: 40px;
    list-style: none;

}

@media only screen and (max-width: 576px) {

    .project.left,
    .project.right {
        padding: 0;
    }

    .project {
        margin-bottom: 80px;
        width: 100%;
        height: 50%;
    }

    .project .image {
        min-height: 200px;
        height: 100%;
        padding: 10px;
    }

    .about-me-section .row {
        width: 80%;
        padding: 0;
        max-width: inherit;
    }

    .maylen_picture img {
        width: 100%;
    }

    .maylen_description h2 {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .intro-name {
        font-size: 10vw;
        margin-top: 10vw;
    }

    .buttons {
        padding: 0;
    }

    a.btn {
        font-size: 5vw;
        width: 100%;
        padding: 3vw 0;
        margin: 0 auto 3vw;
    }

    .project-detail-description,
    .project-details {
        margin-left: 20px !important;
    }
}

.project-details {
    width: 100%;
    zoom: 1;
    margin-left: 100px;
}

.brief2,
.result2,
.technologies2 {
    width: 100%;
    max-width: 355px;
    margin-right: 50px;
    // margin-right: 100px;
    margin-bottom: 50px;
    float: left;
}

.special-class {
    width: 200px;
}

.style-particles {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}

//NEW ADDED TO ARRANGE DIVS NEXT TO EACH OTHER
.main-content {
    max-width: 90%;
    margin: auto;
    padding-bottom: 50px;
    margin-top: 200px;
}

.container {
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}