$primary-color: white;
$secondary-color: blue;
$heading-color: black;
$text-color: #716767;
// $text-color: black;

//font variables
$header-font: 'PT Serif', serif;
$body-font: 'Open Sans' , sans-serif;